Django==1.9.7
psycopg2==2.6.1
elasticsearch==1.2.0
django-redis==4.3.0
wagtail==1.5.2
django-libsass==0.11.1
libsass==0.8.3
Pillow==3.3.0

# Production dependencies
dj-database-url==0.3.0
whitenoise==3.2
uwsgi==2.0.11.2
ConcurrentLogHandler==0.9.1
